<div class="card-details wrapper container">
  <div class="row" *ngIf="selectedCard$ | async as selectedCard">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center">
          <button (click)="goBack()">Back</button>
          <h3>{{ selectedCard.name }}</h3>
        </div>
        <div class="card-body">
          <div class="card-img d-flex justify-content-center">
            <img [src]="selectedCard.image_uris.border_crop" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
