.card {
  margin: 5px;
  width: 240px;
  height: 560px;
  .card-header {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
  .card-body {
    margin: auto;
    img {
      width: 200px;
      height: 284px;
    }
  }

  .card-footer {
    height: 200px;
    .oracle-text {
      font-size: 12px;
      white-space: pre-line;
    }
  }
}
