<div class="card">
  <div class="card-header">{{ data.name }}</div>
  <div class="card-body">
    <div class="card-img">
      <img
        [src]="
          data.image_uris
            ? data.image_uris.border_crop
            : 'https://crystal-cdn2.crystalcommerce.com/photos/6520700/200px-Magic_card_back.jpg'
        "
        alt=""
      />
    </div>
  </div>
  <div class="card-footer">
    <div *ngIf="data.price | async as price">${{ price }}</div>
    <div class="oracle-text">
      <i [innerHTML]="data.oracle_text | ttp: 'text'"></i>
    </div>
  </div>
</div>
