<div class="cards-dashboard" *ngIf="cards$ | async as cards">
  <div class="header d-flex justify-content-center">
    <h3>Magic the Gathering</h3>
  </div>
  <ul class="cards-list d-flex">
    <li
      *ngFor="let card of cards | keyvalue; trackBy: trackByFn"
      (click)="navigateToDetails(card.value.id)"
    >
      <app-card-item [data]="card.value"></app-card-item>
    </li>
  </ul>
</div>
