/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: lightgray;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.d-flex {
  display: flex;
}

.symbol-small {
  width: 14px;
  height: 14px;
  margin: 0 1px;
}
